#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -rf vendor target contrib/exa contrib/_exa contrib/exa.fish

override_dh_auto_build:
	mkdir -p .cargo
	sed 's@$$PWD@$(CURDIR)@' debian/cargo.config > .cargo/config
	tar xzf debian/vendor.tar.gz
	cargo build --release --frozen --verbose
	cp contrib/completions.bash contrib/exa
	cp contrib/completions.zsh  contrib/_exa
	cp contrib/completions.fish contrib/exa.fish
